/* latin */
@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: local('VT323'), local('VT323-Regular'), url(vt323.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body > div {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin: -320px 0 0 -512px;
    width: 1024px;
    height: 640px;
    background: #040204;
    color: #ACAA64;
    font-size: 64px;
    font-family: VT323, monospace;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

#r-answers {
    align-self: flex-start;
    width: 90%;
    height: 80%;
    margin: 0% 5%;
}

#r-answers > div {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#r-answers .l {
    align-self: flex-start;
    width: 10%;
    text-align: right;
}

#r-answers .a {
    align-self: center;
    width: 70%;
    margin: 0% 5%;
    white-space: pre-wrap;
}

#r-answers .p {
    align-self: flex-end;
    width: 10%;
    text-align: right;
}

#r-points {
    align-self: flex-end;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#r-points-x {
    align-self: flex-end;
    width: 10%;
    text-align: center;
    margin-left: 45%;
    margin-right: 5%;
}

#r-points-l {
    align-self: flex-end;
    width: 10%;
    text-align: right;
    margin-left: 10%;
}

#r-points-p {
    align-self: flex-end;
    width: 10%;
    text-align: right;
    margin: 0% 5%;
}

#r-score {
    align-self: flex-end;
    width: 100%;
    color: #040204;
    background: #ACAA64;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#r-score-teamA {
    align-self: flex-start;
    width: 10%;
    text-align: center;
    margin: 0% 5%;
}

#r-score-round {
    align-self: center;
    width: 50%;
    text-align: center;
    margin: 0% 5%;
}

#r-score-teamB {
    align-self: flex-end;
    width: 10%;
    text-align: right;
    text-align: center;
    margin: 0% 5%;
}
